.nav-container {
	width: 101%;
	height: 160px;
	background-color: white;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	margin-left: -7.568px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	z-index: 10;
}
.nav-inner {
	border: 1px solid gray;
	height: 100px;
	margin-top: 0px;
}
.nav-content {
	display: flex;
	width: 50vw;
	list-style: none;
	margin-top: 40px;
	margin-left: 22%;
}
.cafeName-section {
	display: block;
	margin-top: -2px;
	margin-right: 100px;
	/* border: 1px solid black; */
	position: absolute;
}
.cafeName {
	font-size: 24px;
	width: 30vw;
}
.typeOfCafe {
	margin-top: -20px;
	font-size: 12px;
}

.nav-footer {
}
.nav-footer-content {
	color: gray;
	width: 100%;
	font-weight: 100;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 26.25vw;
}
.nav-right {
	list-style: none;
	position: absolute;
	display: flex;
	margin-left: 24vw;
	font-size: 20px;
}
.nav-right li:nth-child(1) {
	margin-left: 0vw;
	margin-right: 50px;
}
.nav-right li:nth-child(3) {
	margin-left: 0vw;
	margin-left: 50px;
}
